.anchor{
    -fx-background-image: url('img/galaxy.jpg');
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 18;

}

.todayPane{
    -fx-background-color: lightgray;
    -fx-opacity: 0.1;
}

.weekPane{
    -fx-background-color: lightgray;
    -fx-opacity: 0.1;
}

.textField{
    -fx-font-size: 18;
    -fx-opacity: 0.5;
}

.okButton{
    -fx-font-size: 18;
}


